<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/a5/42/36/a542363f964684db425d3c480165e5f6.jpg);">
  <div class="container">
    <h1>Welcome to Cockolito</h1>
    <p>This amazing website is your own cookbook especially for cocktails !</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.intermarche.be/sites/default/files/styles/recipe_850/public/recipe/27491//2018_s48_cocktail-blue-gin-tonic.jpg?itok=bw_8jyNt)">
      <tbody>
        <tr id="btn btn-cocktail"><%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-ghost" %></tr>
        <tr id="btn btn-delete"><%= link_to "Delete", cocktail_path(cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-ghost" %>
        </tr>
      </tbody>
    </div>
  <% end %>
</div>
